body {
    background-color: black;
  }
  .h1 {
    color: aliceblue;
  }
  .h2 {
    color: aliceblue;
  }
  nav {
    padding: 1em 0em 0em 0em;
    background-color: rgb(128, 173, 173);
  }
  nav a {
    padding: 0.3em;
    text-decoration: none;
  }
  .p1 {
    color: aliceblue;
  }
  img {
    padding: 0.6%;
  }
  ul li {
    color: aliceblue;
  }
  nav a:hover {
    color: yellow;
  }
  .p {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
  }
  h3 {
    color: aliceblue;
  }
  p {
    color: aliceblue;
  }
  .h3blu {
    color: red;
  }
  .imggoogle {
    margin: 1%;
  }
  h2 {
    color: aliceblue;
  }
  * {
    padding: 0.4em;
  }
  